{{#extend "main"}}
    {{#block "content"}}
        <h1>Login</h1>
        <form class="login-form">
            <input type="email" id="email-login" placeholder="Email">
            <input type="password" id="password-login" placeholder="Password">
            <button type="submit">Login</button>
        </form>
    {{/block}}
{{/extend}}
